.md
{
  .usuario-cadastro
  {
    ion-content{
      background-color: #000;
    }
  }
}


/*.usuario-cadastro
{
  .md < ion-content{
    background-color: #000;
  }

  /*ion-content{
    background-color: #000;
  }
}*/
