.usuario-cadastro
{
  ion-content{
    /*background-color: #f4f4f7;*/
  }


  $list-background-color: #fff;
  $list-ios-activated-background-color: #3aff74;
  $list-md-activated-background-color: #3aff74;

  $checkbox-ios-background-color-on: #32db64;
  $checkbox-ios-icon-border-color-on: #fff;

  $checkbox-md-icon-background-color-on: #32db64;
  $checkbox-md-icon-background-color-off: #fff;
  $checkbox-md-icon-border-color-off: #cecece;
  $checkbox-md-icon-border-color-on: #32db64;
}
